<div class="page-inner with-breadcrumb layout-md">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/{{routerPath}}/manage-staff/view-staff">Staff Management</a></li>
            <li class="breadcrumb-item active" aria-current="page">Profile</li>
        </ol>
    </nav>
    <section class="section-row">
        <div class="card-wrapper">
            <div class="inner-body">
                <div class="tab-wrapper">
                    <form [formGroup]="Form">
                        <tabset #tabset>
                            <tab>
                                <ng-template tabHeading>
                                    <span class="d-inline-flex flex-column text-center">
                                        <span class="icon-user-line icons-cell">
                                        </span>
                                        <label>
                                            Account
                                        </label>
                                    </span>
                                </ng-template>
                                <div class="tab-inner">
                                    <section class="section-row">
                                        <div class="form-wrapper">
                                            <div class="row">
                                                <div class="col-md-5 col-lg-4 col-xl-3">
                                                    <!-- <div
                                                        class="user-pic-blc account-tab d-flex flex-column align-items-center text-center layout-md">
                                                        <div
                                                            class="user-pic d-inline-flex flex-column justify-content-center">
                                                            <div class="pic-cell rounded-circle">
                                                                <ngx-avatar *ngIf="isUploadForLogo" size="100"
                                                                    value="28%" [round]="false" class="clickable"
                                                                    src="{{imagePreviewForLogo}}">
                                                                </ngx-avatar>
                                                            </div>
                                                            <div class="txt-cell">
                                                                {{tempData.firstName + " " + tempData.lastName}}
                                                            </div>
                                                        </div>
                                                        <button class="btn btn-primary2 position-relative upload-btn">
                                                            <div *ngIf="isUploaddoneForLogo"
                                                                class="inner d-flex flex-column text-center">
                                                                <span class="icon-arrow-upload">
                                                                </span>
                                                                <span class="txt">
                                                                    UPLOAD
                                                                </span>
                                                            </div>
                                                            <input type="file" class="position-absolute"
                                                                [attr.disabled]="!IsViewOnly ? '' : null"
                                                                (change)="selectFile($event)">
                                                        </button>
                                                    </div> -->
                                                    <div class="upload-wrapper d-flex justify-content-center">
                                                        <div class="upload-cell ms-4">
                                                            <div
                                                                class="upload-btn position-relative d-flex flex-column justify-content-center align-items-center">
                                                                <input type="file" class="position-absolute"
                                                                    [attr.disabled]="!IsViewOnly ? '' : null"
                                                                    (change)="selectFile($event)">
                                                                <div *ngIf="isUploaddoneForProfile"
                                                                    class="inner d-flex flex-column text-center">
                                                                    <span class="icon-arrow-upload">
                                                                    </span>
                                                                    <span class="txt">
                                                                        UPLOAD
                                                                    </span>
                                                                </div>
                                                                <ngx-avatar *ngIf="isUploadForProfile" size="100"
                                                                    value="28%" [round]="false" class="clickable"
                                                                    src="{{imagePreviewForProfile}}">
                                                                </ngx-avatar>
                                                            </div> 
                                                            <div class="txt-cell h5 mt-3 w-25">
                                                                {{tempData?.firstName + " " + tempData?.lastName}}
                                                            </div>                                                         
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-7 col-lg-8 col-xl-9 form-view-mode">
                                                    <div class="row">
                                                        <div class="col-lg-6">
                                                            <div class="form-group">
                                                                <label for="participantCode">
                                                                    Staff Code
                                                                </label>
                                                                <input disabled id="participantCode"
                                                                    type="participantCode" name="name1"
                                                                    formControlName="staffCode" class="form-control">
                                                                <div class="invalid-feedback">
                                                                    Field Error Message.
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-6">
                                                            <div class="form-group">
                                                                <label for="lastLogin">
                                                                    Last Login
                                                                </label>
                                                                <input disabled id="lastLogin" type="lastLogin"
                                                                    formControlName="lastLogin" name="name1"
                                                                    class="form-control">
                                                                <div class="invalid-feedback">
                                                                    Field Error Message.
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                <label for="userName">
                                                                    Username
                                                                </label>
                                                                <input disabled id="username" type="userName" name="name1"
                                                                    formControlName="userName" class="form-control">
                                                                <div class="invalid-feedback">
                                                                    Field Error Message.
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                <label for="activeInactive">
                                                                    Active/Inactive
                                                                </label>
                                                                <input disabled id="activeInactive" type="activeInactive"
                                                                    formControlName="activeInactive" name="name1"
                                                                    class="form-control">
                                                                <div class="invalid-feedback">
                                                                    Field Error Message.
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                <label for="blockUnblock">
                                                                    Block/Unblock
                                                                </label>
                                                                <input disabled id="blockUnblock" type="blockUnblock"
                                                                    formControlName="blockUnblock" name="name1"
                                                                    class="form-control">
                                                                <div class="invalid-feedback">
                                                                    Field Error Message.
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!-- <div class="col-md-12 link-row">
                                                          <a href="">Change Password</a>
                                                      </div> -->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                </div>
                            </tab>
                            <tab>
                                <ng-template tabHeading>
                                    <span class="d-inline-flex flex-column text-center">
                                        <span class="icon-user-line icons-cell">
                                        </span>
                                        <label>
                                            Demographic
                                        </label>
                                    </span>
                                </ng-template>
                                <div class="tab-inner">
                                    <section class="section-row">
                                        <div class="form-wrapper">

                                            <div class="row">

                                                <p>{{manageStaffList?.email}}</p>
                                                <div class="col-lg-6">
                                                    <div class="form-group">
                                                        <label for="firstName">
                                                            First Name<span class="text-danger">*</span>
                                                        </label>
                                                        <input id="firstName" type="text" name="firstName"
                                                            formControlName="firstName" class="form-control">
                                                            <div *ngIf="submitted && Form.controls.firstName.errors"
                                                            class="text-danger">
                                                            <div class="text-danger"
                                                                *ngIf="Form.controls.firstName.errors?.required">
                                                                First Name is required.
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6">
                                                    <div class="form-group">
                                                        <label for="middleName">
                                                            Middle Name<span class="text-danger">*</span>
                                                        </label>
                                                        <input id="middleName" type="text" name="middleName"
                                                            formControlName="middleName" class="form-control">
                                                            <div *ngIf="submitted && Form.controls.middleName.errors"
                                                            class="text-danger">
                                                            <div class="text-danger"
                                                                *ngIf="Form.controls.middleName.errors?.required">
                                                                Middle Name is required.
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6">
                                                    <div class="form-group">
                                                        <label for="lastName">
                                                            Last Name<span class="text-danger">*</span>
                                                        </label>
                                                        <input id="lastName" type="text" name="lastName"
                                                            formControlName="lastName" class="form-control">
                                                            <div *ngIf="submitted && Form.controls.lastName.errors"
                                                            class="text-danger">
                                                            <div class="text-danger"
                                                                *ngIf="Form.controls.lastName.errors?.required">
                                                                Last Name is required.
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6">
                                                    <div class="form-group">
                                                        <label for="maidenName">
                                                            Maiden Name<span class="text-danger">*</span>
                                                        </label>
                                                        <input id="maidenName" type="text" name="maidenName"
                                                            formControlName="maidenName" class="form-control">
                                                            <div *ngIf="submitted && Form.controls.maidenName.errors"
                                                            class="text-danger">
                                                            <div class="text-danger"
                                                                *ngIf="Form.controls.maidenName.errors?.required">
                                                                Maiden Name is required.
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- <div class="col-lg-6">
                                                    <div class="form-group">
                                                        <label for="otherName">
                                                            Other Name
                                                        </label>
                                                        <input id="otherName" type="text" name="otherName"
                                                            formControlName="otherName" class="form-control">
                                                        <div class="invalid-feedback">
                                                            Field Error Message.
                                                        </div>
                                                    </div>
                                                </div> -->
                                                <div class="col-lg-6">
                                                    <div class="form-group">
                                                        <label for="dob">
                                                            Date of Birth<span class="text-danger">*</span>
                                                        </label>
                                                        <input id="dob" type="date" name="dob" formControlName="dob"
                                                            class="form-control">
                                                            <div *ngIf="submitted && Form.controls.dob.errors"
                                                            class="text-danger">
                                                            <div class="text-danger"
                                                                *ngIf="Form.controls.dob.errors?.required">
                                                                dob is required.
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6">
                                                    <div class="form-group">
                                                        <label for="genderId">
                                                            Gender<span class="text-danger">*</span>
                                                        </label>
                                                        <select class="form-select form-control" id="genderId" required
                                                            formControlName="genderId">
                                                            <option value="1">Male</option>
                                                            <option value="2">Female</option>
                                                        </select>
                                                        <div *ngIf="submitted && Form.controls.genderId.errors"
                                                            class="text-danger">
                                                            <div class="text-danger"
                                                                *ngIf="Form.controls.genderId.errors?.required">
                                                                Gender is required.
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- <div class="col-lg-6">
                                                  <div class="form-group">
                                                      <label for="race">
                                                          Race
                                                      </label>
                                                      <select class="form-select form-control" id="race">
                                                          <option selected>www.abc.com</option>
                                                          <option value="1">One</option>
                                                          <option value="2">Two</option>
                                                          <option value="3">Three</option>
                                                      </select>
                                                      <div class="invalid-feedback">
                                                          Field Error Message.
                                                      </div>
                                                  </div>
                                              </div> -->
                                                <!-- <div class="col-lg-6">
                                                  <div class="form-group">
                                                      <label for="ethnicity">
                                                          Ethnicity
                                                      </label>
                                                      <select class="form-select form-control" id="ethnicity">
                                                          <option selected>www.abc.com</option>
                                                          <option value="1">One</option>
                                                          <option value="2">Two</option>
                                                          <option value="3">Three</option>
                                                      </select>
                                                      <div class="invalid-feedback">
                                                          Field Error Message.
                                                      </div>
                                                  </div>
                                              </div> -->
                                                <div class="col-lg-6">
                                                    <div class="form-group">
                                                        <label for="nativeSpokenLanguage">
                                                            Preferred Language of communication<span class="text-danger">*</span>
                                                        </label>
                                                        <input id="nativeSpokenLanguage" type="text"
                                                            formControlName="nativeSpokenLanguage"
                                                            name="nativeSpokenLanguage" class="form-control">
                                                            <div *ngIf="submitted && Form.controls.nativeSpokenLanguage.errors"
                                                            class="text-danger">
                                                            <div class="text-danger"
                                                                *ngIf="Form.controls.nativeSpokenLanguage.errors?.required">
                                                                Preferred Language of communication is required.
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-lg-6">

                                                    <div class="form-group">
                                                        <label for="Country">
                                                            Country<span class="text-danger">*</span>
                                                        </label>
                                                        <select class="form-select form-control" id="countryID"
                                                            (change)="selectCountry($event)" 
                                                            formControlName="countryID" required>
                                                            <option *ngFor="let CountryItem of CountryList"
                                                                [value]="CountryItem.countryId">
                                                                {{CountryItem?.countryName}}</option>
                                                        </select>
                                                        <div *ngIf="submitted && Form.controls.countryID.errors"
                                                            class="text-danger">
                                                            <div class="text-danger"
                                                                *ngIf="Form.controls.countryID.errors?.required">
                                                                Country is required.
                                                            </div>
                                                        </div>
                                                    </div>
                                                  
                                                </div>
                                                <div class="col-lg-6">
                                                    <div class="form-group">
                                                        <label for="state">
                                                            State<span class="text-danger">*</span>
                                                        </label>
                                                        <select class="form-select form-control" id="state"
                                                            [attr.disabled]="isStateDisabled ? '' : null"
                                                            formControlName="state" required>
                                                            <option *ngFor="let StateItem of StateList"
                                                                [value]="StateItem.stateName">{{StateItem?.stateName}}
                                                            </option>
                                                        </select>
                                                        <div *ngIf="submitted && Form.controls.state.errors"
                                                            class="text-danger">
                                                            <div class="text-danger"
                                                                *ngIf="Form.controls.state.errors?.required">
                                                                State is required.
                                                            </div>
                                                        </div>
                                                    </div>
                                                 
                                                </div>
                                                <!-- <div class="col-lg-4">
                                                    <div class="form-group">
                                                        <label for="city">
                                                            City
                                                        </label>
                                                        <input id="city" type="text" name="city" formControlName="city"
                                                            class="form-control">
                                                        <div class="invalid-feedback">
                                                            Field Error Message.
                                                        </div>
                                                    </div>
                                                </div> -->
                                            </div>
                                            <div class="form-button-rw text-end form-btns mt-3" *ngIf="IsViewOnly">
                                                <button class="btn btn-primary" (click)="goto(2)">
                                                    Save and Continue
                                                </button>
                                            </div>
                                        </div>
                                    </section>
                                </div>
                            </tab>
                            <!-- <tab>
                          <ng-template tabHeading>
                              <span class="d-inline-flex flex-column text-center">
                                  <span class="icon-settting icons-cell">
                                  </span>
                                  <label>
                                      Qualifications
                                  </label>
                              </span>
                          </ng-template>
                          <div class="tab-inner">
                              <section class="section-row">
                                  <div class="form-wrapper">
                                      <form>
                                          <div class="row">
                                              <div class="col-lg-6">
                                                  <div class="form-group">
                                                      <label for="school">
                                                          School
                                                      </label>
                                                      <input id="school" type="text" name="school"
                                                          class="form-control">
                                                      <div class="invalid-feedback">
                                                          Field Error Message.
                                                      </div>
                                                  </div>
                                              </div>
                                              <div class="col-lg-6">
                                                  <div class="form-group">
                                                      <label for="degree">
                                                          Degree
                                                      </label>
                                                      <input id="degree" type="text" name="degree"
                                                          class="form-control">
                                                      <div class="invalid-feedback">
                                                          Field Error Message.
                                                      </div>
                                                  </div>
                                              </div>
                                              <div class="col-lg-6">
                                                  <div class="form-group">
                                                      <label for="fieldStudy">
                                                          Field Of Study
                                                      </label>
                                                      <input id="fieldStudy" type="text" name="fieldStudy"
                                                          class="form-control">
                                                      <div class="invalid-feedback">
                                                          Field Error Message.
                                                      </div>
                                                  </div>
                                              </div>
                                              <div class="col-lg-6">
                                                  <div class="form-group">
                                                      <label for="startDate">
                                                          Start Date
                                                      </label>
                                                      <select class="form-select form-control" id="gender">
                                                          <option selected>www.abc.com</option>
                                                          <option value="1">One</option>
                                                          <option value="2">Two</option>
                                                          <option value="3">Three</option>
                                                      </select>
                                                      <div class="invalid-feedback">
                                                          Field Error Message.
                                                      </div>
                                                  </div>
                                              </div>
                                              <div class="col-lg-6">
                                                  <div class="form-group">
                                                      <label for="endDate">
                                                          End date
                                                      </label>
                                                      <select class="form-select form-control" id="endDate">
                                                          <option selected>www.abc.com</option>
                                                          <option value="1">One</option>
                                                          <option value="2">Two</option>
                                                          <option value="3">Three</option>
                                                      </select>
                                                      <div class="invalid-feedback">
                                                          Field Error Message.
                                                      </div>
                                                  </div>
                                              </div>
                                              <div class="col-sm-12">
                                                  <div class="form-group">
                                                      <label for="description">
                                                          Description
                                                      </label>
                                                      <textarea id="description" type="text" name="description"
                                                          class="form-control"></textarea>
                                                      <div class="invalid-feedback">
                                                          Field Error Message.
                                                      </div>
                                                  </div>
                                              </div>
                                              <div class="col-lg-7">
                                                  <div class="form-group">
                                                      <label for="description">
                                                          Upload Document
                                                      </label>
                                                      <div class="upload-file-blc d-flex">
                                                          <div class="left-col flex-fill">
                                                              <div class="browse-file-blc d-flex position-relative">
                                                                  <input class="form-control position-absolute"
                                                                      type="file" id="attachment" multiple>
                                                                  <button
                                                                      class="btn btn-link position-relative text-decoration-none">
                                                                      Choose File

                                                                  </button>
                                                                  <div
                                                                      class="input-cell d-flex align-items-center flex-fill">
                                                                      <span>No file chosen</span>
                                                                  </div>
                                                              </div>
                                                              <div class="msg">
                                                                  Accepted File Type: JPG, PNG, doc and Docx
                                                                  only
                                                              </div>
                                                          </div>
                                                          <div class="right-col">
                                                              <button class="btn btn-primary">
                                                                  Save <span class="responsive">Uploded File</span>
                                                              </button>
                                                          </div>
                                                      </div>
                                                      <div class="invalid-feedback">
                                                          Field Error Message.
                                                      </div>
                                                  </div>
                                              </div>
                                          </div>
                                      </form>
                                  </div>
                              </section>
                              <section class="section-row">
                                  <div class="card-wrapper">
                                      <div class="inner-body">
                                          <div class="table-responsive">
                                              <table class="table">
                                                  <thead>
                                                      <tr>
                                                          <th scope="col">School</th>
                                                          <th scope="col">Degree</th>
                                                          <th scope="col">Field Of Study</th>
                                                          <th scope="col">Grade</th>
                                                          <th scope="col">Start Date</th>
                                                          <th scope="col">End Date</th>
                                                          <th scope="col" class="action-col">Actions</th>
                                                      </tr>
                                                  </thead>
                                                  <tbody>
                                                      <tr *ngFor="let item of tempItem">
                                                          <td>XYZ</td>
                                                          <td>BSc</td>
                                                          <td>Computer</td>
                                                          <td class="text-center">A</td>
                                                          <td>20/7/2011</td>
                                                          <td>20/7/2011</td>
                                                          <td>
                                                              <div class="action-cell">
                                                                  <a href="#" class="doc">
                                                                      <span class="icon-doc-line"></span>
                                                                  </a>
                                                                  <a href="#" class="view">
                                                                      <span class="icon-eye"></span>
                                                                  </a>
                                                                  <a href="#" class="edit">
                                                                      <span class="icon-edit"></span>
                                                                  </a>
                                                                  <a href="#" class="delete text-danger-dark">
                                                                      <span class="icon-trash2"></span>
                                                                  </a>
                                                              </div>
                                                          </td>
                                                      </tr>
                                                  </tbody>
                                              </table>
                                          </div>
                                      </div>
                                  </div>
                              </section>
                          </div>
                      </tab> -->
                            <!-- <tab>
                          <ng-template tabHeading>
                              <span class="d-inline-flex flex-column text-center">
                                  <span class="icon-settting icons-cell">
                                  </span>
                                  <label>
                                      Experience
                                  </label>
                              </span>
                          </ng-template>
                          <div class="tab-inner">
                              Experience
                          </div>
                      </tab> -->
                            <tab>
                                <ng-template tabHeading>
                                    <span class="d-inline-flex flex-column text-center">
                                        <span class="icon-settting icons-cell">
                                        </span>
                                        <label>
                                            Office Detail
                                        </label>
                                    </span>
                                </ng-template>
                                <div class="tab-inner">
                                    <section class="section-row">
                                        <div class="form-wrapper">
                                            <div class="row">
                                                <!-- <div class="col-lg-6">
                                                  <div class="form-group">
                                                      <label for="officeName">
                                                          Office Name
                                                      </label>
                                                      <input id="officeName" type="text" name="officeName"
                                                          class="form-control">
                                                      <div class="invalid-feedback">
                                                          Field Error Message.
                                                      </div>
                                                  </div>
                                              </div>
                                              <div class="col-lg-6">
                                                  <div class="form-group">
                                                      <label for="officeAddress">
                                                          Office Address
                                                      </label>
                                                      <input id="officeAddress" type="text" name="officeAddress"
                                                          class="form-control">
                                                      <div class="invalid-feedback">
                                                          Field Error Message.
                                                      </div>
                                                  </div>
                                              </div> -->
                                                <div class="col-lg-6">
                                                    <div class="form-group">
                                                        <label for="otherName">
                                                            Department Name<span class="text-danger">*</span>
                                                        </label>
                                                        <input disabled id="otherName" type="text" name="otherName"
                                                            formControlName="otherName" class="form-control">
                                                            <div *ngIf="submitted && Form.controls.otherName.errors"
                                                            class="text-danger">
                                                            <div class="text-danger"
                                                                *ngIf="Form.controls.otherName.errors?.required">
                                                                Department Name is required.
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6">
                                                    <div class="form-group">
                                                        <label for="roleName">
                                                            Role Name
                                                        </label>
                                                        <input disabled id="roleName" type="text" name="roleName"
                                                            formControlName="roleName" class="form-control">
                                                        <div class="invalid-feedback">
                                                            Field Error Message.
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-12">
                                                    <div class="form-group">
                                                        <label for="emailAddress">
                                                            Email Address
                                                        </label>
                                                        <input disabled id="emailAddress" type="text" name="emailAddress"
                                                            formControlName="emailAddress" class="form-control">
                                                        <div class="invalid-feedback">
                                                            Field Error Message.
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6">
                                                    <div class="form-group">
                                                        <label for="primaryContactNumber">
                                                            Primary Contact Number<span class="text-danger">*</span>
                                                        </label>
                                                        <input id="primaryContactNumber" type="text" maxlength="10"
                                                            name="primaryContactNumber"
                                                            formControlName="primaryContactNumber" class="form-control">
                                                            <div *ngIf="submitted && Form.controls.primaryContactNumber.errors"
                                                            class="text-danger">
                                                            <div class="text-danger"
                                                                *ngIf="Form.controls.primaryContactNumber.errors?.required">
                                                                Primary Contact Number is required.
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6">
                                                    <div class="form-group">
                                                        <label for="secondaryContactNumber">
                                                            Secondary Contact Number<span class="text-danger">*</span>
                                                        </label>
                                                        <input id="secondaryContactNumber" type="text" maxlength="10"
                                                            name="secondaryContactNumber"
                                                            formControlName="secondaryContactNumber"
                                                            class="form-control">
                                                            <div *ngIf="submitted && Form.controls.secondaryContactNumber.errors"
                                                            class="text-danger">
                                                            <div class="text-danger"
                                                                *ngIf="Form.controls.secondaryContactNumber.errors?.required">
                                                                Secondary Contact Number is required.
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-12">
                                                    <div class="form-group">
                                                        <label for="description">
                                                            Description
                                                        </label>
                                                        <textarea disabled id="description" type="text" name="description"
                                                            formControlName="description"
                                                            class="form-control"></textarea>
                                                        <div class="invalid-feedback">
                                                            Field Error Message.
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-btns text-end mt-2" *ngIf="IsViewOnly">
                                                <button class="btn btn-primary" *ngIf="!isEdit" (click)="onSubmit('save')">
                                                    Save
                                                </button>
                                                <button class="btn btn-primary" *ngIf="isEdit" (click)="onSubmit('edit')">
                                                    Update
                                                </button>
                                            </div>
                                        </div>
                                    </section>
                                </div>
                            </tab>
                            <!-- <tab>
                          <ng-template tabHeading>
                              <span class="d-inline-flex flex-column text-center">
                                  <span class="icon-settting icons-cell">
                                  </span>
                                  <label>
                                      History
                                  </label>
                              </span>
                          </ng-template>
                          <div class="tab-inner">
                              History
                          </div>
                      </tab> -->
                        </tabset>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>