@import "../../../../assets/scss/theme/variables";

.sidebar {
  overflow: auto;
  min-width: 250px;
  max-width: 250px;
  width: 100%;
  transform: translateX(0);
  transition: all ease 0.3s 0s;
  height: 100%;
  background-color: #fff;
  padding: 0 9px;
  box-shadow: 0 4px 25px #00000029;
  @media (max-width: 850px) {
    position: fixed;
    left: 0;
    bottom: 0;
    top: 0;
    z-index: 2;
    transform: translateX(-100%);
  }
  .sidebar-menu {
    > h2 {
      font-size: 16px;
      font-weight: 400;
      color: #4b4444;
      padding: 14px 18px 20px 0;
    }
    .menu-list {
      li.active a {
        background-color: $primary;
        color: #fff;
      }
      li {
        a {
          font-size: 16px;
          color: #333;
          display: block;
          padding: 9px 10px;
          margin: 2px 0;
          border-radius: 3px;
          display: flex;
          cursor: pointer;
          > span {
            display: inline-flex;
            align-items: center;
            width: 20px;
            margin-right: 15px;
            svg {
              max-width: 18px;
            }
          }
          &:hover,
          &:focus {
            background-color: $primary;
            color: #fff;
            svg {
              fill: #fff;
            }
          }
          .email-icon {
            font-size: 12px;
            font-weight: bold;
          }
        }
      }
    }
  }
}
.sidebar-on {
  .sidebar {
    transform: translateX(0);
  }
}

.sidebar-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background-color: rgba($base-color, 0.2);
}

.expandableChild {
  display: none;
}
.expandableChild.expanded {
  display: block;
  list-style-type: none;
  background: #f8f9fa;
}
.expandableChild.expanded li {
  padding-left: 10px;
}
.left-menu-link {
  position: relative;
  display: flex;
  padding: 0 15px;
  align-items: center;
  i {
    transition: all ease 0.2s;
  }
  &.active {
    i {
      transform: rotate(180deg);
    }
  }
}
.left-menu-link .toggle-ico:before {
  position: absolute;
  content: "v";
  color: #fff;
  top: 26px;
  line-height: 0;
  right: 0px;
  font-size: 16px;
}
.left-menu-link.active .toggle-ico:before {
  content: "^";
}
.arrow-pr {
  padding-right: 10px;
}

@media (max-width: 767px) {
  .arrow-pr {
    padding-right: 30px;
  }
}
