<!-- <div class="sidebar-overlay"></div> -->
<aside class="sidebar">
    <div class="inner-wrapper">
        <div class="sidebar-menu">
            <!-- <h2 (click)="sidebarHandler()">MENU</h2> -->
            <ul class="menu-list list-unstyled overflow-auto">


                <div *ngFor="let menu of sideMenuList;let i=index">
                    <ng-container *ngIf="menu.subModules == null && menu.isShow; else submenuContainer">
                        <li>
                            <a (click)="navigation(menu.navigationlink,menu.header)">
                                <span>
                                    <span class="{{menu.classStyle}}"></span>
                                </span>
                                {{menu.header}}
                            </a>
                        </li>
                    </ng-container>

                    <ng-template #submenuContainer>
                        <li *ngIf="menu.subModules != null && menu.isShow">
                            <a class="left-menu-link" (click)="toggleMenus($event);">
                                <span>
                                    <span class="{{menu.classStyle}}"></span>
                                </span>
                                {{menu.header}}
                                <span class="d-flex ms-2 "><i class="fa fa-chevron-down"></i></span>
                            </a>
                            <ul class="expandableChild">
                                <div *ngFor="let item of menu.subModules; let i=index">
                                    <ng-container *ngIf="item.subModules == null ; else submenuContainer1">
                                        <li>
                                            <a (click)="navigation(item.navigationlink,item.header)">
                                                {{item.header}}
                                            </a>
                                        </li>
                                    </ng-container>
                                </div>
                            </ul>
                        </li>
                    </ng-template>
                </div>



                <!-- <li *ngFor="let menu of sideMenuList">                  
                    <a  (click)="navigation(menu.header)" routerLink="{{menu.navigationlink}}">
                        <span>
                            <span class="{{menu.classStyle}}"></span>
                        </span>
                        {{menu.header}} 
                    </a>
                </li> -->
                <!-- <li>
                    <a routerLink="/sponsor/manage-permission">
                        <span>
                            <span class="icon-dashboard"></span>
                        </span>
                        Manage Permission
                    </a>
                </li> -->
                <!-- <li *ngFor="let menu of sideMenuList">
                    <accordion [isAnimated]="true" >
                        <accordion-group>
                            <a class="d-flex" accordion-heading (click)="navigation(menu.navigationlink,menu.header)">
                                <span class="{{menu.classStyle}}"></span>
                                {{menu.header}} 
                            </a>                           
                            <div *ngIf="menu.subModules" class="inner menu-items-inner" >                               
                             
                                <a *ngFor="let item of menu.subModules" (click)="navigation(item.navigationlink,item.header)">{{item.header}}</a>
                            </div>
                        </accordion-group>
                    </accordion>                   
                </li> -->

                <!-- <li *ngFor="let menu of sideMenuList">    
                    <a (click)="navigation(menu.navigationlink,menu.header)">
                        <span>
                            <span class="{{menu.classStyle}}"></span>
                        </span>
                        {{menu.header}} 
                    </a>
                    <ul *ngIf="menu.subModules" class="expandableChild">    
                        <div class="inner menu-items-inner" > 
                            <a *ngFor="let item of menu.subModules" (click)="navigation(item.navigationlink,item.header)">{{item.header}}</a>
                        </div>
                    </ul>
                </li> -->
                <!-- <li>
                    <a routerLink="/user/dashboard" (click)="navigation('Dashboard')">
                        <span>
                            <span class="icon-dashboard"></span>
                        </span>
                        Dashboard
                    </a>
                </li>
                <li>
                    <a routerLink="/user/manage-organization" (click)="navigation('Manage Organization')">
                        <span>
                            <span class="icon-manage"><span class="path1"></span><span class="path2"></span><span
                                    class="path3"></span><span class="path4"></span><span class="path5"></span><span
                                    class="path6"></span><span class="path7"></span><span class="path8"></span></span>
                        </span>
                        Manage Organization
                    </a>
                </li>
                <li>
                    <a routerLink="/user/manage-sponsor" (click)="navigation('Manage Sponsor')">
                        <span>
                            <span class="icon-user"></span>
                        </span>
                        Manage Sponsor
                    </a>
                </li>
                <li>
                    <a routerLink="/user/manage-investigator" (click)="navigation('Manage Principal Investigator')">
                        <span>
                            <span class="icon-user"></span>
                        </span>
                        Manage Principal Investigator
                    </a>
                </li>
                <li>
                    <accordion [isAnimated]="true">
                        <accordion-group>
                            <a class="d-flex" accordion-heading>
                                <span class="icon-user"></span>
                                Manage Participant
                            </a>
                            <div class="inner menu-items-inner">
                                <a routerLink="/user/search-participant" (click)="navigation('Search Participant')" class="active">Search Participant</a>
                                <a routerLink="/user/import-participant" (click)="navigation('Import Participant')">Import Participant</a>
                                <a routerLink="/user/invite-participant" (click)="navigation('Invite Participant')">Invite Participant</a>
                            </div>
                        </accordion-group>
                    </accordion>                   
                </li>
                <li>
                    <a routerLink="/sponsor/manage-roles" (click)="navigation('Manage Roles')">
                        <span>
                            <span class="icon-staffs-check"></span>
                        </span>
                        Manage User Roles
                    </a>
                </li>
                <li>
                    <a routerLink="/user/manage-email" (click)="navigation('Manage Email Template')">
                        <span>
                            <span class="icon-envelope email-icon"></span>
                        </span>
                        Manage Email Template
                    </a>
                </li> 
                 <li>
                    <a (click)="logout()">
                        <span>
                            <span class="icon-doc-check"></span>
                        </span>
                        Manage Clinical Trials
                    </a>
                </li>
                <li>
                    <a routerLink="/">
                        <span>
                            <span class="icon-user-group-line2-2"></span>
                        </span>
                        Manage Invites
                    </a>
                </li>
                <li>
                    <a routerLink="/">
                        <span>
                            <span class="icon-user-setting"></span>
                        </span>
                        Manage CRO
                    </a>
                </li>
                <li>
                    <a routerLink="/sponsor/manage-staff">
                        <span>
                            <span class="icon-staffs-check"></span>
                        </span>
                        Manage Staff
                    </a>
                </li>
                <li>
                    <a routerLink="/">
                        <span>
                            <span class="icon-docs2"></span>
                        </span>
                        Document Center
                    </a>
                </li>
                <li>
                    <a routerLink="/">
                        <span>
                            <span class="icon-user-group-line2"></span>
                        </span>
                        Staff
                    </a>
                </li>
                <li>
                    <a routerLink="/">
                        <span>
                            <span class="icon-procedure">
                                <span class="path1"></span>
                                <span class="path2"></span>
                                <span class="path3"></span>
                                <span class="path4"></span>
                                <span class="path5"></span>
                            </span>
                        </span>
                        Manage Procedure
                    </a>
                </li> -->
                <li>
                    <a (click)="pool()">
                        <span>
                            <span class="icon-user"></span>
                        </span>
                        Clinical Trial pool
                    </a>
                </li>
                <li>
                    <a (click)="logout()">
                        <span>
                            <span class="icon-logout"></span>
                        </span>
                        Logout
                    </a>
                </li>
            </ul>
        </div>
    </div>
</aside>