<div class="page-inner">
    <section class="section-row">
        <div class="card-wrapper flat">
            <div class="head-blc d-flex align-items-center">
                <h2>{{title}}</h2>
                <div class="right-col ms-auto">
                    <button (click) = "urlBackRedirect()"
                        class="btn btn-btn-link back-btn d-inline-flex align-items-center">
                        <span class="icon-arrow-left"></span>
                        Back
                    </button>
                </div>
            </div>
            <div class="inner-body">
                <div class="tab-wrapper">
                    <tabset>
                        <tab>
                            <ng-template tabHeading>
                                <span class="d-inline-flex flex-column text-center">
                                    <span class="icon-user icons-cell">
                                    </span>
                                    <label>
                                        Document Information
                                    </label>
                                </span>
                            </ng-template>
                            <form [formGroup]="dataCenterForm">
                                <div class="tab-inner">
                                    <div class="section-row">
                                        <div class="form-wrapper">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="documentTitle" class="text-margin">
                                                            Document Title<span class="text-danger">*</span>
                                                        </label>                                                    
                                                        <select *ngIf="isExistingSelected" disabled="true" class="form-select form-control" id="existingDocTitleSelect" [(ngModel)]="documentCenterIdValue" formControlName="existingDocTitleSelect"
                                                        (change)="selectExistingDocTitle($event)">
                                                        <option *ngFor="let existTitle of existingDocTitleList" disabled="true" 
                                                            [value]="existTitle.documentCenterId" [text]="existTitle.documentTitle">
                                                            {{existTitle?.documentTitle}}</option>
                                                    </select>                                                  
                                                    <!-- <div *ngIf="isExistingSelected && submitted && dataCenterForm.controls.existingDocTitleSelect.errors"
                                                    class="text-danger">
                                                    <div class="text-danger"
                                                        *ngIf="isExistingSelected && dataCenterForm.controls.existingDocTitleSelect.errors?.required">
                                                        Please select document title.
                                                    </div>
                                                </div> -->       
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group mb-2">
                                                        <label>
                                                            Browse<span class="text-danger">*</span>
                                                        </label>
                                                        <div class="upload-file-blc d-flex">
                                                            <div class="left-col flex-fill">
                                                                <div class="browse-file-blc d-flex position-relative">
                                                                    <input class="form-control position-absolute"
                                                                        formControlName="browseFile" type="file"
                                                                        id="attachment" multiple
                                                                        [attr.disabled]="!IsViewOnly ? '' : null"
                                                                        (change)="selectFile($event)">
                                                                    <button (click)="isFileSelected=!isFileSelected"
                                                                        class="btn btn-link position-relative text-decoration-none">
                                                                        Choose File
                                                                    </button>
                                                                    <div *ngIf="!isFileSelected"
                                                                        class="input-cell d-flex align-items-center flex-fill">
                                                                        <span *ngIf="!isFileSelected">No file
                                                                            chosen</span>
                                                                    </div>
                                                                    <div *ngIf="isFileSelected"
                                                                    class="input-cell d-flex align-items-center flex-fill">
                                                                    <span *ngIf="isFileSelected">{{selectedFile}}</span>
                                                                </div>
                                                                </div>
                                                                <div class="msg">
                                                                    Accepted File Type: JPG, PNG, Doc , Docx, PDF , Text, CSV , PDF,XLS,XLSX
                                                                    only
                                                                </div>
                                                                <div *ngIf="submitted && dataCenterForm.controls.browseFile.errors"
                                                                    class="text-danger">
                                                                    <div class="text-danger"
                                                                        *ngIf="dataCenterForm.controls.browseFile.errors?.required">
                                                                        File is required.
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!-- <div class="invalid-feedback">
                                                            Field Error Message.
                                                        </div> -->
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group consent-comment-blc">
                                                        <label for="leaveComment">
                                                            Comment<span class="text-danger">*</span>
                                                        </label>
                                                        <textarea id="leaveComment" type="text" name="leaveComment"
                                                            class="form-control" formControlName="leaveComment"></textarea>
                                                        <div class="invalid-feedback"
                                                            *ngIf="submitted && dataCenterForm.controls.leaveComment.errors"
                                                            class="text-danger">
                                                            <div class="text-danger"
                                                                *ngIf="dataCenterForm.controls.leaveComment.errors?.required">
                                                                Comment is required.
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>                                        
                                        <div *ngIf="IsViewOnly">
                                            <div class="text-end form-btns">
                                                <button class="btn btn-primary" type="button" *ngIf="!isEdit"
                                                    (click)="onSubmit()">
                                                    Save
                                                </button>
                                                <button class="btn btn-primary" type="button" *ngIf="isEdit"
                                                    (click)="onSubmit('update')">
                                                    Update
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </tab>
                    </tabset>
                </div>
            </div>
        </div>
    </section>
</div>