<div class="page-inner">
    <section class="section-row">
        <div class="card-wrapper">
            <div class="head-blc d-flex align-items-center">
                <h2>Manage Clinical Invite</h2>
                <!-- <div class="right-col ms-auto">
                    <button class="btn btn-btn-link back-btn d-inline-flex align-items-center">
                        <span class="icon-arrow-left" (click)="urlRedirect()"></span>
                        Back
                    </button>
                </div> -->
            </div>
            <div class="inner-body padd2">
                <div class="tab-wrapper">
                    <tabset class="tab-nav-start tab-content-padd-type2">
                        <tab>
                            <ng-template tabHeading>
                                <span class="d-inline-flex flex-column text-center">
                                    <label>
                                        Invites Received
                                    </label>
                                </span>
                            </ng-template>
                            <div *ngIf="studyListData!=null && studyListData.length>0">
                                <div class="section-row">
                                    <div class="card-wrapper2">
                                      <div class="inner-body layout-md">
                                        <form [formGroup]="SearchForm">
                                          <div class="row">
                                            <div class="col-md-6">
                                              <div class="form-group">
                                                <label for="csTitle">Title</label>
                                                <input type="text" name="csTitle" id="csTitle" class="form-control" formControlName="csTitle">
                                              </div>
                                            </div>
                                            <div class="col-md-6">
                                              <div class="form-group">
                                                <label for="condition">Code</label>
                                                <input type="text" name="csCode" id="condition" class="form-control" formControlName="csCode">
                                              </div>
                                            </div>
                                            
                                            <div class="col-md-6">
                                              <div class="form-group">
                                                <label for="location">Sponsor</label>
                                                <input type="text" name="sponsorName" id="sponsorName" class="form-control" formControlName="sponsorName">
                                              </div>
                                            </div>
                                             <div class="col-md-6">
                                              <div class="form-group">
                                                <label for="activeInactive">Organization</label>
                                                <input type="text" name="organizationName" id="organizationName" class="form-control" formControlName="organizationName">
                                              </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                  <label for="location">CRO</label>
                                                  <input type="text" name="croName" id="croName" class="form-control" formControlName="croName">
                                                </div>
                                              </div>
                                            <div class="col-md-12">
                                              <div class="form-group form-btns multiple float-end ">
                                                <button class="btn btn-primary" (click)="clear()">
                                                  Clear
                                                </button>
                                                <button class="btn btn-primary" (click)="searchStudyList()">
                                                  Search
                                                </button>
                                              </div>
                                            </div>
                                          </div>
                                        </form>
                                      </div>
                                    </div>
                                  </div>
                                <div class="tab-inner" *ngFor="let studyData of studyListData">
                                    <div class="invite-wrapper">
                                        <section class="section-row">
                                            <div class="card-wrapper">
                                                <div class="head-blc d-flex align-items-center">
                                                    <h2>{{studyData.csCode}}</h2>
                                                    <div class="right-col ms-auto">
                                                        <label class="location-lbl">
                                                            Locations:<span>{{studyData.csLocationName}}</span>
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="inner-body padd">
                                                    <div class="invite-section layout-md">
                                                        <div class="head">
                                                            <h2>{{studyData.csTitle}}</h2>
                                                            <p>
                                                                {{studyData.csDescription}}
                                                                <a type="button" (click)="showCSStudyDetails(studyData.csGuiD)">view details <span class="icon-view"></span>
                                                                    </a>
                                                                <!-- <button class="btn btn-btn-link back-btn d-inline-flex align-items-center" (click)="showCSStudyDetails()">
                                                                View More...
                                                            </button> -->
                                                            </p>
                                                        </div>
                                                        <div class="info-row2 d-flex">
                                                            <div class="left-col info-col d-flex flex-column flex-fill">
                                                                <div class="left-col-rw">
                                                                    <div class="inner-row">
                                                                        <div class="cell">
                                                                            <div class="cell-rw d-flex">
                                                                                <span class="label">
                                                                                    Invite Sent By
                                                                                </span>
                                                                                <span class="label-desc">
                                                                                    {{studyData.sponsorName}}
                                                                                </span>
                                                                            </div>
                                                                        </div>
                                                                        <div class="cell">
                                                                            <div class="cell-rw d-flex">
                                                                                <span class="label">
                                                                                    Org Name
                                                                                </span>
                                                                                <span class="label-desc">
                                                                                    {{studyData.organizationName}}
                                                                                </span>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="left-col-rw">
                                                                    <div class="inner-row">
                                                                        <div class="cell">
                                                                            <div class="cell-rw d-flex">
                                                                                <span class="label">
                                                                                    Invite Sent Date
                                                                                </span>
                                                                                <span class="label-desc">
                                                                                    {{studyData.inviteSentDate | date:
                                                                                    'short'}}
                                                                                </span>
                                                                            </div>
                                                                        </div>
                                                                        <div class="cell">
                                                                            <div class="cell-rw d-flex">
                                                                                <span class="label">
                                                                                    Condition
                                                                                </span>
                                                                                <span class="label-desc">
                                                                                    {{studyData.csConditionOrDiseaseText}}
                                                                                </span>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="left-col-rw"
                                                                    *ngIf="studyData.isInviteAccept==false && studyData.inviteAcceptDate!=null">
                                                                    <div class="inner-row">
                                                                        <div class="cell">
                                                                            <div class="cell-rw d-flex">
                                                                                <span class="label">
                                                                                    Declined Date
                                                                                </span>
                                                                                <span class="label-desc">
                                                                                    {{studyData.inviteAcceptDate | date:
                                                                                    'short'}}
                                                                                </span>
                                                                            </div>
                                                                        </div>

                                                                        <div class="cell">
                                                                            <div class="cell-rw d-flex">
                                                                                <span class="label">
                                                                                    Declined By
                                                                                </span>
                                                                                <span class="label-desc">
                                                                                    {{studyData.croName}}
                                                                                </span>
                                                                            </div>
                                                                        </div>
                                                                        <!-- <div class="cell">
                                                                            <div class="cell-rw d-flex">
                                                                                <span class="label">
                                                                                    Declined By
                                                                                </span>
                                                                                <span class="label-desc">
                                                                                    {{studyData.sponsorName}}
                                                                                </span>
                                                                            </div>
                                                                        </div> -->
                                                                    </div>
                                                                </div>

                                                                <div class="left-col-rw"
                                                                    *ngIf="studyData.isInviteAccept==true && studyData.inviteAcceptDate!=null">
                                                                    <div class="inner-row">
                                                                        <div class="cell">
                                                                            <div class="cell-rw d-flex">
                                                                                <span class="label">
                                                                                    Accepted Date
                                                                                </span>
                                                                                <span class="label-desc">
                                                                                    {{studyData.inviteAcceptDate | date:
                                                                                    'short'}}
                                                                                </span>
                                                                            </div>
                                                                        </div>
                                                                        <div class="cell">
                                                                            <div class="cell-rw d-flex">
                                                                                <span class="label">
                                                                                    Accepted By
                                                                                </span>
                                                                                <span class="label-desc">
                                                                                    {{studyData.croName}}
                                                                                </span>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="right-col d-flex flex-column justify-content-center"
                                                                *ngIf="studyData.inviteAcceptDate==null">
                                                                <button class="btn btn-success"
                                                                    (click)="confirmAcceptDialog(studyData.croid,studyData.sponsorID,studyData.csStudyID)">Accept</button>
                                                                <button class="btn btn-danger"
                                                                    (click)="declinedInvitation(studyData.croid,studyData.sponsorID,studyData.csStudyID)">Decline</button>
                                                            </div>
                                                            <div class="right-col d-flex flex-column justify-content-center"
                                                                *ngIf="studyData.isInviteAccept==true && studyData.inviteAcceptDate!=null">
                                                                <label class="btn btn-success">Accepted</label>
                                                            </div>
                                                            <div class="right-col d-flex flex-column justify-content-center"
                                                                *ngIf="studyData.isInviteAccept==false && studyData.inviteAcceptDate!=null">

                                                                <label class="btn btn-danger">Declined</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="foot"></div>
                                            </div>
                                        </section>

                                    </div>
                                </div>
                            </div>
                            <div *ngIf="studyListData==null">
                                <p style="text-align: center;">No data exists</p>
                            </div>
                        </tab>
                        <tab>
                            <ng-template tabHeading>
                                <span class="d-inline-flex flex-column text-center">
                                    <label>
                                        Invites Update
                                    </label>
                                </span>
                            </ng-template>
                            <div class="tab-inner">
                                <div class="invite-wrapper">
                                    <section class="section-row">
                                        <div class="card-wrapper">
                                            <div class="head-blc d-flex align-items-center">
                                                <h2>
                                                    <a href="">Low Dose Radiation Therapy for Covid-19 Pneumonia</a>
                                                </h2>
                                                <div class="right-col ms-auto">
                                                    <label class="location-lbl">
                                                        Locations:<span>USA</span>
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="inner-body padd">
                                                <div class="invite-section layout-md">
                                                    <div class="head">
                                                        <p>
                                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                                            Mauris
                                                            tempor eros suscipit consequat blandit. Nam eget lectus
                                                            quis lorem rutrum viverra non in libero. Aliquam lectus
                                                            justo,
                                                            volutpat nec nunc eget.
                                                        </p>
                                                    </div>
                                                    <div class="info-row d-flex">
                                                        <div class="left-col info-col d-flex flex-wrap">
                                                            <label class="d-inline-flex">
                                                                <span>
                                                                    Patient Name:
                                                                </span>
                                                                Alex
                                                            </label>
                                                            <label class="d-inline-flex">
                                                                <span>
                                                                    Status:
                                                                </span>
                                                                Approved
                                                            </label>
                                                            <label class="d-inline-flex">
                                                                <span>
                                                                    Interventions:
                                                                </span>
                                                                No intervention
                                                            </label>
                                                            <label class="d-inline-flex">
                                                                <span>
                                                                    Org Name:
                                                                </span>
                                                                Pharma Company
                                                            </label>
                                                            <label class="d-inline-flex">
                                                                <span>
                                                                    Condition:
                                                                </span>
                                                                COVID-19
                                                            </label>
                                                            <label class="d-inline-flex">
                                                                <span>
                                                                    Date:
                                                                </span>
                                                                30/9/2021
                                                            </label>
                                                        </div>
                                                        <div class="right-col text-end ms-auto">
                                                            <button
                                                                class="btn btn-primary invite-upload-btn position-relative">
                                                                Upload Consent
                                                                <input type="file"
                                                                    class="browse-input position-absolute">
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                </div>
                            </div>
                        </tab>
                    </tabset>
                </div>
            </div>
        </div>
    </section>
</div>