<div class="login-wrapper d-flex flex-column flex-fill position-relative">
  <div class="top-pic position-absolute">
  </div>
  <div class="container m-auto">
    <div class="loign-rw d-flex align-items-center">
      <div class="login-lft text-center">
        <!-- <h6>Welcome to </h6> -->
       <img src="../../../../assets/images/logo.jpg" class="w-50 rounded-circle" alt="" srcset="">      
      </div>
      <div class="login-rt">
        <div class="login-bx">
          <h3>Activation your account</h3>
          <div class="inner-blc">
            <label class="signUpClass" for="sign-up">Thank you, your loan has been Activated !!</label>
            <hr>
            <label class="signUpClass" for="sign-up">First EMI of Rs. 4889 will be debited on 05-09-2021</label>
            <div class="form-group login-link-rw d-flex mt-3" >
              <button type="submit" class="btn btn-primary rounded-pill flex-fill">Go Back To Dashboard</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="btm-pic position-absolute">
  </div>
</div>