<section class="section-row" *ngIf="tempData">
  <div class="card-wrapper" *ngFor="let item of tempData">
      <div class="head-blc d-flex align-items-center">
        <h2>{{item?.csCode}}</h2>
          <div class="right-col ms-auto">
            <label class="location-lbl">
                Locations:<span>{{item?.csLocationName}}</span>
            </label>
          </div>
      </div>
      <div class="inner-body padd">
          <div class="invite-wrapper">
              <div class="invite-section layout-md">
                <div class="head">
                    <h2>{{item?.csTitle}}</h2>
                    <p>
                        {{item?.csShortDescription}}
                    </p>
                </div>
                  <div class="info-row d-flex">
                    <div class="left-col info-col d-flex flex-wrap">
                        <label class="d-inline-flex">
                            <span>
                                Conditions:
                            </span>
                           {{item?.csConditionOrDiseaseText}}
                        </label>
                        <label class="d-inline-flex">
                            <span>
                                Published:
                            </span>
                            {{item?.isPublish == true ? 'Published' : 'Pending'}}
                        </label>
                        <label class="d-inline-flex">
                            <span>
                                Published Date:
                            </span>
                            {{item?.isPublish == true ? ( item.csActualStartDate | date ) : 'Pending'}}
                        </label>
                        <label class="d-inline-flex">
                            <span>
                                Status:
                            </span>
                            <span   [ngClass]="{'text-success': item?.isActive  == true, 'text-danger': item?.isActive  == false}" 
                            > {{item?.isActive == true ? 'Active' : 'Inactive'}}</span>
                          
                        </label>
                    </div>
                      <div class="right-col text-end ms-auto">
                          <button class="btn btn-primary" (click)="onTableClick(item?.csGuiD,'view')">
                              View
                          </button>
                      </div>
                  </div>

              </div>
          </div>
      </div>
  </div>
</section>
<!-- <section class="section-row" *ngIf="tempData?.length == 0 || tempData == ''">
    <div class="card-wrapper">
        <div class="head-blc d-flex align-items-center">
            <h2>Please Search for The Study</h2>            
        </div>      
    </div>
  </section> -->